@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0f7cc4;
}

header h1{
    color: white;
    text-align: center;
    margin: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    
}

.meaning-container{
    min-height: 60vh;
    width: 70%;
    
    padding: 2rem;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.word-container{
    width: 100%;
    word-wrap:break-word;
}

.search-container{
    height: 5rem;
    /* display: grid; */
    margin:2rem 0;
    /* flex-wrap: nowrap; */
    /* align-items: center; */
    /* justify-content: center; */
    /* width: 100%; */
}

.search-container form{
    display: flex;
    justify-content: center;
    align-items: center;
}


#search-word{
    padding: 10px;
    width: 300px;
    /* width: 60%; */
    max-width: 60%;
    font-size: 1.3rem;
}

#search-btn{
    padding: 10px;
    font-size: 1.5rem;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    
}

#search-btn:active{
    transform: scale(0.8);
}

.word{
    font-size: 2.5rem;
    /* font-weight: 900; */
}

.audio-phonetic{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.volume{
    margin-right: 15px;
    background-color: transparent;
    border: none;
    color: rgb(106, 106, 248);
    font-size: 1.2rem;
    cursor: pointer;

}

.volume:active{
    color: blue;
}

.phonetic{
    font-size: 1rem;
}

.partOfSpeech{
    font-size: 1.5rem;
    font-weight: 500;
    font-style: italic;
    color: rgb(95, 95, 95);
}

.definition{
    font-size: 1.2rem;
}

.example{
    color: rgb(78, 66, 66);
}

.similar{
    font-size: 1.1rem;
}

.content{
    margin-left: 1rem;
}

.load{
    height: 100px;
    width: 100px;
    border: 16px solid  #c9b6d8;
    border-top:16px solid #0f7cc4;
    border-radius: 50%;
    animation: loading 2s linear infinite;
    
}

@keyframes loading {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@media (max-width:500px) {
    .word{
        font-size: 2rem;
    }
}